version: '3.8'

services:
  # --- CẤU HÌNH BACKEND ---
  backend:
    build: ./backend
    container_name: prescripto-backend
    ports:
      - "4000:4000" 
    env_file:
      - ./backend/.env 
    environment:
      - PORT=4000
    restart: always

  # --- CẤU HÌNH FRONTEND ---
  frontend:
    build: ./frontend
    container_name: prescripto-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend 
    environment:
      
      - VITE_BACKEND_URL=http://localhost:4000 
    restart: always
  admin:
    build: ./admin  
    container_name: prescripto-admin
    ports:
      - "5174:5174" 
    depends_on:
      - backend
    environment:
      - VITE_BACKEND_URL=http://localhost:4000
    restart: always