@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit, sans-serif;
}
/* 3. QUAN TRỌNG: Ép các thẻ Input/Button phải nhận font (Mặc định nó hay bị trờ về Arial/Times) */
input, button, textarea, select {
  font-family: 'Outfit', sans-serif !important;
}
.active hr{
    @apply block
}
::-webkit-scrollbar {
    @apply hidden
}
@media (max-width:740px){
    .active p{
        @apply text-white bg-primary
    }
}